body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      sans-serif;
    font-size: 18px;
    font-weight: 400;
  }
  
  #mainbox {
    display: flex;
  }
  
  #tittle {
    width: 600px;
    height: auto;
    padding: 2% 5%;
    border-right: 1px solid grey;
  }
  
  .header {
    margin-top: 30px;
    text-align: center;
  }
  
  #cart {
    display: flex;
    justify-content: center;
  }
  
  #cart1 {
    background: transparent;
    border: none;
    color: #135e90;
    cursor: pointer;
    font-size: 15px;
  }
  
  #return_to_cart {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #font {
    font-size: 14px;
    font-weight: 18px;
    font-family: sans-serif;
    color: #333333;
  }
  
  #email {
    border: 0.01px solid gray;
    border-radius: 3px;
    width: 100%;
    height: 40px;
  }
  
  #contect {
    display: flex;
    gap: 180px;
  }
  #checkbox_div {
    width: 300px;
    display: flex;
  }
  
  #checkbox {
    width: 15px;
    margin-right: 10px;
  }
  
  input {
    width: 600px;
    height: 30px;
  }
  
  #first_name {
    width: 50%;
    height: 40px;
    margin-top: 10px;
    border-radius: 3px;
    border: 0.01px solid gray;
  }
  
  #last_name {
    width: 45%;
    height: 40px;
    margin-top: 10px;
    margin-left: 13px;
    border: 0.01px solid gray;
    border-radius: 3px;
  }
  
  #box {
    margin-top: 15px;
    border-radius: 3px;
    width: 100%;
    height: 40px;
    border: 0.01px solid gray;
  }
  
  #shop {
    height: 60px;
    width: 200px;
    border-radius: 5px;
    background-color: #1871ad;
    color: white;
    border: #135e90;
    cursor: pointer;
    font-weight: bold;
  }
  
  #shop:hover {
    background-color: #135e90;
  }
  #right {
    width: 40%;
    margin: 50px 30px;
  }
  #right > div:nth-child(2) {
    display: flex;
    width: 100%;
    margin-top: 20px;
  }
  
  #gift {
    width: 80%;
    justify-content: space-between;
    margin-left: 30px;
  }
  
  #half {
    width: 100%;
    height: 40px;
    border: 0.5px solid gray;
    margin-top: 20px;
    border-radius: 3px;
    justify-content: space-between;
    gap: 5px;
  }
  
  #csp {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
  
  #country_name {
    width: 100%;
    height: 40px;
    border: 0.01px solid gray;
    color: grey;
    border-radius: 3px;
  }
  
  #checkbox {
    margin-left: 1px;
  }
  
  #state {
    width: 100%;
    height: 45px;
    border: 0.5px solid gray;
    margin-top: 20px;
    border-radius: 3px;
    color: grey;
  }
  .allItems {
    overflow: scroll;
    height: 400px;
    /* width: 100%; */
  }
  .itemCart {
    margin: 10px 0;
    display: flex;
    text-align: center;
    justify-content: space-around;
  }
  
  .imgDiv {
    width: 80px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid silver;
  }
  .imgDiv > img {
    height: 100%;
    width: 100%;
    /* width: 100%; */
  }
  .hrShip {
    height: 1px;
    width: 100%;
    background-color: silver;
  }
  .itemCart > h2 {
    margin-top: 40px;
    font-size: 12px;
    /* width: 100%; */
  }
  .subTotal,
  .shipping {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    /* margin: 0 10px; */
  }
  
  /* shippinig file css start here ... */
  
  .crud {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid silver;
    height: 60px;
  }
  .crud > h4:first-child,
  .crud > h4:last-child {
    text-align: center;
    height: 100%;
    width: 90px;
  }
  
  /* shippinig file css end here ... */
  