body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    ;
    font-size: 18px;
    font-weight: 400;
}

#mainbox {
    display: flex;
}

#tittle {
    width: 600px;
    height: auto;
    border: 1px solid gray;
    padding: 2% 5%;
}

.header {
    margin-top: 30px;
    text-align: center;
}

#cart {
    display: flex;
    justify-content: center;
}

#cart1 {
    background: transparent;
    border: none;
    color: #135e90;
    cursor: pointer;
    font-size: 12px;
}

#return_to_cart {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#font {
    font-size: 14px;
    font-weight: 18px;
    font-family: sans-serif;
    color: #333333;
}

#email {
    border: 0.01px solid gray;
    border-radius: 3px;
    width: 100%;
    height: 40px;
}

#contect {
    display: flex;
    gap: 180px;
}

#checkbox_div {
    width: 300px;
    display: flex;
}

#checkbox {
    width: 15px;
    margin-right: 10px;
}

input {
    width: 600px;
    height: 30px;
}

#first_name {
    width: 50%;
    height: 40px;
    margin-top: 10px;
    border-radius: 3px;
    border: 0.01px solid gray;
}

#last_name {
    width: 45%;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    border: 0.01px solid gray;
    border-radius: 3px;
}

#box {
    margin-top: 15px;
    border-radius: 3px;
    width: 100%;
    height: 40px;
    border: 0.01px solid gray;
}

#shop {
    height: 60px;
    width: 200px;
    border-radius: 5px;
    background-color: #135e90;
    color: white;
    border: #135e90;
}

#right {
    display: flex;
}

#gift {
    width: 300px;
    justify-content: space-between;
    margin-left: 30px;
}

#apply {
    margin-left: 20px;
    width: 100px;
    height: 30px;
}

#half {
    width: 100%;
    height: 40px;
    border: 0.5px solid gray;
    margin-top: 20px;
    border-radius: 3px;
    justify-content: space-between;
    gap: 5px;
}

#csp {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

#country_name {
    width: 100%;
    height: 40px;
    border: 0.01px solid gray;
    color: grey;
    border-radius: 3px;
}

#checkbox {
    margin-left: 1px;
}

#state {
    width: 100%;
    height: 45px;
    border: 0.5px solid gray;
    margin-top: 20px;
    border-radius: 3px;
    color: grey;
}