html,body {
    margin:0px;
    width:100%;
    height:100%;
    background-color: lavender;

}
* {
    box-sizing: border-box;
}
#container {
    width:100%;
    display: flex;
    justify-content: center;
    height:100%;
    align-items: center;
}
#box {
    width:27%;
    margin:auto;
 
}
.image {
    width:100%;
    border-radius: 5px;
}
button {
    background-color: hotpink;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    padding:15px;
    width:100%;
    border-radius: 20px;
    
}
#imgbox {
    width:400px;
    height: 400px;
}