/* Header and navigation var css start here........ */
#header {
  width: 100%;
}

#nav1 {
  display: flex;
  background-color: #f5deef;
  height: 40px;
  align-items: center;
  margin-top: -8px;
  font-family: "Poppins", sans-serif;
  font-size: 13.5px;
}

#loginn {
  margin-left: 70%;
  background-color: white;
  position: absolute;
  width: 20%;
  padding: 15px 20px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
  display: none;
  z-index: 1;
  height: 580px;
  font-family: Poppins, sans-serif;
  font-weight: 800;
  font-size: 15px;
}

#top {
  display: flex;
  justify-content: space-between;
}

#loginHr {
  width: 100%;
}

#loginP {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: black;
}

#logBold {
  font-family: Poppins, sans-serif;
  font-weight: bolder;
  font-size: 12px;
  color: #141414;
}

.box {
  height: 40px;
  width: 250px;
  margin-top: 15px;
}

.but1 {
  background-color: white;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
  width: 250px;
  height: 40px;
}

.but2 {
  border: 0;
  background-color: #383e47;
  color: #ea3469;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

#under {
  text-decoration: underline;
  width: 70%;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 16px;
}

#close {
  margin-top: 0px;
  color: black;
  font-size: 21px;
  font-weight: 500;
  cursor: pointer;
}

.but1:hover {
  border: 0;
  background-color: #383e47;
  color: #ea3469;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

span {
  color: red;
}

.pasdiv {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
  font-weight: bold;
}

.pasdiv a {
  color: black;
  text-decoration: none;
}

.pasdiv::after {
  content: "";
  position: absolute;
  width: 55%;
  height: 1.5px;
  background-color: black;
  left: 0%;
  bottom: 0%;
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: transform 0.4s ease;
}

.pasdiv:hover::after {
  transform: scale(1, 1);
}

#free600 {
  margin-left: 11%;
}

i {
  margin-right: 10px;
  font-size: 17px;
  font-weight: lighter;
}

#track {
  position: relative;
  cursor: pointer;
  margin-left: 42%;
  margin-right: 10px;
  font-weight: bold;
}

#track::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: black;
  left: 0%;
  bottom: 0%;
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: transform 0.4s ease;
}

#track:hover::after {
  transform: scale(1, 1);
}

#log {
  margin-right: 5px;
  position: relative;
  cursor: pointer;
}

#log::after {
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: black;
  left: 0%;
  bottom: 0%;
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: transform 0.4s ease;
}

#log:hover::after {
  transform: scale(1, 1);
}

#create {
  position: relative;
  margin-left: 5px;
  cursor: pointer;
}

#create::after {
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: black;
  left: 0%;
  bottom: 0%;
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: transform 0.4s ease;
}

#create:hover::after {
  transform: scale(1, 1);
}

#nav2 {
  display: flex;
  margin: auto;
  margin-top: 20px;
}

#logo {
  margin-left: 10%;
  cursor: pointer;
}

#search {
  width: 19%;
  height: 40px;
  border: gray 0.5px solid;
  margin-left: 497px;
  margin-top: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#searchBox {
  width: 100%;
  height: 80%;
  margin-left: 8px;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}

#searchicon {
  padding: 8px 15px;
  justify-content: left;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  color: rgb(72, 72, 73);
  font-weight: lighter;
  background-color: #f7f7f7;
  cursor: pointer;
}

#wishlist {
  margin-left: 18px;
  margin-top: 14px;
  font-size: 30px;
  font-weight: lighter;
  color: rgb(72, 72, 73);
  cursor: pointer;
}

#cart {
  margin-left: 15px;
  margin-top: 15px;
  font-size: 27px;
  font-weight: lighter;
  color: rgb(72, 72, 73);
  cursor: pointer;
}

#line {
  width: 1px;
  height: 30px;
  background-color: rgb(206, 203, 203);
  margin-left: 15px;
  margin-top: 15px;
}

#nav3 {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  background-color: #383e47;
}

.navbar {
  width: 70%;
  height: 50px;
  display: flex;
  margin-left: 154px;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.navbar a {
  position: relative;
  margin-right: 25px;
  color: #f7f6f2;
  font-weight: 1000;
  font-size: 13.5px;
  cursor: pointer;
  text-decoration: none;
}

.navbar a::after {
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: #f7f6f2;
  bottom: 0;
  left: 0%;
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: transform 0.4s ease;
}

.navbar a:hover::after {
  transform: scale(1, 1);
}

.makeup {
  display: none;
  position: absolute;
  background-color: white;
  width: 50%;
  margin-top: 5px;
  z-index: 1;
  height: 450px;
}

.makeup div a {
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.makelist:hover .makeup {
  display: block;
  display: flex;
  padding: 30px;
}

.color-pink {
  color: #ff66b9;
  font-weight: bold;
  font-size: 14px;
}

#kits_combos {
  width: 12%;
  background-color: white;
  margin-top: 13px;
  padding: 10px;
  position: absolute;
  display: none;
  z-index: 1;
}

#kits_combos a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 400;
}

#kits:hover #kits_combos {
  display: block;
}

/* Header End */

/* Header and navigation var css End here........ */

#container{
width: 100%;
}

#topDiv {
  width: 100%;
  background-color: #f7f7f7;
}

#imageDiv {
  width: 100%;
  height: 70%;
}
#imageDiv + div {
  padding: 20px;
  margin-left: 15px;
}

#imageDiv>img {
  height: 100%;
  width: 100%;
}
#topDiv>div{
  margin-left: 4.8em;
}
#topDiv>div>a {
  text-decoration: none;
  font-size: 12px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: #141414;
  /* margin-left: 30px; */
  padding: 10px 15px;
}
#topDiv>div>h1 {

  font-size: 24px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  color: #141414;
  padding: 10px 15px;

}
.far{
  font-size: 12px;
}

/* css for filter side start here ..... */
.filter{
  font-family: Montserrat, sans-serif; 
  
}
.headText{
  padding: 15px 18px;
  border: 1px solid #e2e4e8;
  color: #141414;
  border-radius: 5px 5px 0 0;
}
.headText>span>.far{
  font-size: 18px;
  color: #141414;
  font-weight: 650;
  margin-right: 10px;
}
.headText>span:last-child{
  /* font-family: Montserrat, sans-serif; */
  font-size: 18px;
  font-weight: 650;
}
.filter>ul{
  list-style: none;
  margin-top: 0;
  padding: 0 15px;
  font-size: 16px;
  line-height: 30px;
  font-family: 400;
  border: 1px solid #e2e4e8;    
}
.cartCount{
color: white;
border-radius: 50%;
font-weight: 400;
font-size: 20px;
/* margin-top: 0; */
text-align: center;
justify-content: center;
padding: 1px 5px;
background-color: #ff66b9;
/* cursor: pointer; */
}


/* css for filter side End here ..... */


/* css for product side Start here.... */
.productMain{
  width: 85%;
  margin-top: 40px;
  display: flex;
  margin: auto;
}
.filterSide {
  width: 45%;
  height: 200px;
}

.productSide {
  margin-left: 15px;

}
.allProducts{
  margin-left: 15px;

  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-areas:
  "a b c d "
  "e f g h "
  "i j k l ";
  grid-gap: 20px;
}
.productDiv{
  box-shadow: rgba(219, 219, 219, 0.2) 0px 8px 24px;
  padding: 15px;
}
.productDiv:nth-child(1){
  grid-area: a;
}
.productDiv:nth-child(2){
  grid-area: b;
}
.productDiv:nth-child(3){
  grid-area: c;
}
.productDiv:nth-child(4){
  grid-area: d;
}
.productDiv:nth-child(5){
  grid-area: e;
}
.productDiv:nth-child(6){
  grid-area: f;
}
.productDiv:nth-child(7){
  grid-area: g;
}
.productDiv:nth-child(8){
  grid-area: h;
}
.productDiv:nth-child(9){
  grid-area: i;
}
.productDiv:nth-child(10){
  grid-area: j;
}
.productDiv:nth-child(11){
  grid-area: k;
}
.productDiv:nth-child(12){
  grid-area: l;
}

.prodImagediv{
  width: 100%;
  height: 50%;    
}

.prodImagediv>img{
  width: 100%;
  height: 100%;    
}
.prodDesc>h3{
  font-family:Poppins, sans-serif;
  font-size: 15px;
  color: #999999;
  font-weight: 400;
}
.prodDesc>h4{
  font-family:Poppins, sans-serif;
  font-size: 14px;
  color: #141414;
  font-weight: 700;
  line-height: 22px;
}
.price{
  display: flex;
  font-weight: 700;
  line-height: 16px;
  font-family:Poppins, sans-serif;
  margin-left: 5px;


}
.price>h1:nth-child(1){
  font-size: 18px;
  color: #999999;
  margin-right: 15px;
  text-decoration: line-through;

}
.price>h1:nth-child(2){
  font-size: 18px;
  color: #ff66b9;

}
#addToCartBtn{
  color:#c50038 !important;
  background-color:transparent;
  border-radius: 3px;
  border: 1px solid #999999;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  width: 100%;
  padding:5px 15px;
  font-weight: 500;
  cursor: pointer;
}
#addToCartBtn:hover{

 background-color: #ff66b9;
 color: #fff;
 border: 1px solid #ff66b9;
}

/* show more button style..... */
.btns{
  text-align: center;
  margin: 30px;
}
.showMoreBtn{
  /* padding: 20px 50px; */
  margin: auto;
  height: 48px;
  background-color: #383e47;
  /* color: #ea3469; */
  font-size: 18px;
  font-weight: 400;
  width: 350px;
  cursor: pointer;
  border-radius: 5px;
  font-family: Poppins, sans-serif;

}


/*Footer Start  */

#footer {
width: 100%;
height: 500px;
margin-top: 10px;
background-color: #222325;
color: white;
}
#footer>h2{
  text-align: center;
}

hr {
margin: auto;
width: 80%;
margin-top: 5px;
}

#footerBox {
display: grid;
grid-template-columns: repeat(10, 1fr);
grid-template-rows: 350px 150px;
grid-template-areas:
    "a a b b c c c c d d"
    "e e e e e e . . . .";
width: 80%;
margin: auto;
grid-gap: 10px;
margin-top: 15px;
}

#footerBox>div {
color: #dfdfdf;
}

.footer1 {
grid-area: a;
}

.footer2 {
grid-area: b;
}

.footer3 {
grid-area: c;
}

.footer4 {
grid-area: d;
}

.footer5 {
grid-area: e;
}

h5 {
font-size: 17px;
font-family: "Montserrat", sans-serif;
}

#footer p {
line-height: 15px;
font-family: "Poppins", sans-serif;
font-weight: 600;
font-size: 14px;
}

#footer p:hover {
color: #ff0b91;
text-decoration: underline;
cursor: pointer;
}

#email {
padding: 10px 50px;
border-radius: 3px;
}
.subscibeBtn{
background-color: #ff66b9;
color: white;
font-size: 15px;
border-radius: 3px;
margin-left: 5px;
height: 39px;
width: 130px;
}

.iconColor {
color: #dfdfdf;
}

#info {
display: flex;
}

.infoP {
line-height: 22px;
}

.footerP {
font-family: "Poppins", sans-serif;
font-weight: 600;
font-size: 14px;
font-style: italic;
line-height: 22px;
}

#last {
width: 100%;
height: 50px;
align-items: center;
display: flex;
background-color: #2e3033;
margin-top: 0px;
color: #dfdfdf;
}

.lastP {
margin-left: 150px;
}

#social {
display: flex;
}
#social>div>a {
  text-decoration: none;
}

#social1 {
display: flex;
width: 35px;
height: 35px;
font-size: 15px;
border: 1px solid #dfdfdf;
border-radius: 60px;
justify-content: center;
align-items: center;
color: #dfdfdf;
margin-left: 10px;
margin-top: 40px;
}