body {
  background-image: url(https://sd.keepcalms.com/i-w600/enjoy-your-purchase-and-thanks-for-buying.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  display: flex;
}
button {
  padding: 15px 60px;
  border-radius: 7px;
  font-weight: bold;
  background-color: white;
  margin: auto;
  margin-top: 600px;
  cursor: pointer;
  border: none;
  border: 1px solid grey;
}
button > a {
  text-decoration: none;
  color: black;
}
button:hover {
  background-color: #ff66b9;
  font-size: 15px;
  padding: 20px 70px;
  color: white;
}
